PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/food-app?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=food-app
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_ORIGIN=*
FRONTEND_DIST=
